@import '../../../variables.scss';

.main_intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: beige;

    //@media screen and (min-width: $tablet) {
        background-image: url("../../../assets/img/img2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    //}

    h1 {
        /*position: absolute;
        top: 0;
        left: 0;
        right: 0;*/
        display: block;
        height: 60px;
        margin: 0;
        padding-top: 15px;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.3);

        span {
            font-weight: 700;
        }
    }

    &_section {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        margin-top: 250px;
        margin-bottom: 250px;
        //height: calc(100vh - 100px);
    
        .svg_ctn {
            //display: flex;
            //justify-content: center;
            //align-items: center;
            //height: 300px;
            //width: 100%;
            //margin-top: 250px;
            //margin-bottom: 250px;
            //padding: auto 0;
        }
    }
    .legal_ctn {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        //margin-top: calc(100% - 40px);
        background-color: rgba(0, 0, 0, 0.3);
        p {
            font-size: 1.2rem;
            font-weight: 300;
            color: white;
        }
    }
}